#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cv-builder-content{
  display: flex;
  justify-content: center;
}

.cv-builder-right-box{
  min-width: 650px;
}

.cv-builder-left-box{
  min-width: 500px;
}

.cv-builder-buttons-box{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.gap-30px{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
