#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cv-builder-content{
  display: flex;
  justify-content: center;
}

.cv-builder-right-box{
  width: 650px;
}

.cv-builder-left-box{
  width: 500px;
}

.cv-builder-buttons-box{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.gap-30px{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 1199.9px) {
  .cv-builder-content{
    flex-direction: column;
  }
  .cv-builder-left-box,
  .cv-builder-right-box{
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 767.9px) {
  #root{
    padding: 1rem;
  }

  .cv-builder-content{
    width: 100%;
  }

  .cv-builder-left-box{
    width: 95%;
  }

  .cv-builder-right-box{
    width: 95%;
  }
  input{
    width: 275px;
  }

  textarea {
    width: 275px;
  }

  .cv-builder-buttons-box{
    gap: 15px;
    padding: 0;
  }

  button{
    font-size: 15px;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }

}